<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.lhhj.myBakTask</string>
		<string>com.transistorsoft.customtask</string>
	</array>
	<key>AlivcLicenseKey</key>
	<string>toU5jixspHBweVBqfc0cd6667fcd14209943824d51d0ae122</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>keychain-access-groups</key>
    <array/>
    <key>com.apple.security.network.client</key>
    <true/>

</dict>
</plist>
